@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Istok Web", sans-serif;
  color:#1c1c1c;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(63,94,251);
    background: radial-gradient(
    circle,
    #AEDCC0 0%,
    #38E4AE 25%,
    #7bd389 50%,
    #607466 95%,
    #343E3D 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: "blur(8px) brightness(0.8)";
}

* {
    transition: all 0.6s ease-in-out;
}